<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Deepgram" version="4.0.2" manuallyInstalled="true" />
  <package id="Deepgram.Microphone" version="4.0.2" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" />
  <package id="Microsoft.Extensions.Http.Polly" version="6.0.31" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.4" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="Polly" version="7.2.2" />
  <package id="Polly.Contrib.WaitAndRetry" version="1.1.1" />
  <package id="Polly.Extensions.Http" version="3.0.0" />
  <package id="PortAudioSharp2" version="1.0.0" />
  <package id="Serilog" version="3.1.1" />
  <package id="Serilog.Sinks.Console" version="5.0.1" />
  <package id="Serilog.Sinks.File" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.9" />
  <package id="System.Threading.Channels" version="6.0.0" />
  <package id="org.k2fsa.portaudio.runtime.linux-x64" version="1.0.0" />
  <package id="org.k2fsa.portaudio.runtime.osx-x64" version="1.0.0" />
  <package id="org.k2fsa.portaudio.runtime.win-x64" version="1.0.0" />
</packages>